[data-component-id="the_randotheme:event-list"] {
  ul {
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    &:not(.contextual-links) {
      display: flex;
    }
  }

  li {
    margin-bottom: 1rem;
  }
}
