a {
  color: white;
  text-decoration: none;

  &.menu-item {
    padding: 0.25rem;
    background-color: var(--color-gold);
    color: black;
    border: 1px solid var(--color-black);
    border-radius: 0.4rem;
    font-size: 1rem;
    width: 50vw;
    display: block;
    text-align: center;

    @media (min-width: 720px) {
      font-size: 1.5rem;
      width: auto;
    }
  }
}
