{% stories blocks with {title: 'TheRandomatics/Blocks'} %}

  {% story block_branding with {
    name: "Branding",
    args: {
      site_logo: "https://therandomatics-drupal.ddev.site/themes/the_randotheme/images/logo-square.png"
    }
  } %}
    {% include "the_randotheme:branding" %}
  {% endstory %}


  {% story block_menu with {
    name: "Main Menu",
  } %}
    {% embed "the_randotheme:system-menu" %}
      {% block content %}
        <ul>
        {% for i in 0..5 %}
          <li>
            {% include "the_randotheme:link" with {
              url: "#",
              text: "item",
              class: "menu-item"
            } %}
          </li>
        {% endfor %}
        </ul>
      {% endblock %}
    {% endembed %}
  {% endstory %}

{% endstories %}
