body {
  font-family: "League Spartan", sans-serif;
  color: white;
  background-color: black;
  font-size: 1.5rem;
  margin: 0;
}
.header {
  text-align: center;

  img {
    max-width: 80vw;
  }
}

h1,
h2,
h3,
h4 {
  font-size: 2rem;
  color: var(--color-blue);
}

.menu {
  margin: 0.5rem;
  padding: 0.5rem 0;
  background-color: var(--color-blue);
}
main {
  width: 75vw;
  margin: 0 auto;
}
footer {
  padding: 2rem 0;
  background-color: var(--color-blue);
}

ul.video-item {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

/** SDC Styleguide overrides **/
.sdc-styleguide-pattern {
  background: black;
}
