body {
  font-family: 'League Spartan', sans-serif;
  color: white;
  background-color: black;
  font-size: 1.5rem;
  margin: 0;
}
.header {
  text-align: center;

  img {
    max-width: 80vw;
  }
}

h1, h2 {
  font-size: 1.5rem;
  color: #44e0cf
}

.menu {
  margin: .5rem;
  padding: .5rem 0;
  background-color: darkturquoise;
}
main {
  width: 75vw;
  margin: 0 auto;
}
footer {
  padding: 2rem 0;
  background-color: var(--color-red);
}
