[data-component-id="the_randotheme:show-teaser"] {
  margin: 1rem;
  width: 350px;

  img {
    width: 100%;
  }

  .show__date {
    background-color: darkturquoise;
    border-radius: 1rem 1rem 0 0;
    color: black;
    padding: 1rem;
  }
  .show__place {
    font-size: 2rem;
    margin: 0 auto;
    padding: 1rem 1rem 0 1rem;
  }

}
