[data-component-id="the_randotheme:show-teaser-past"] {
  margin: 1rem;
  width: 200px;

  img {
    width: 100%;
  }

  .show__label {
    background-color: darkturquoise;
    border-radius: 1rem 1rem 0 0;
    color: black;
    padding: 1rem;
    font-size: .75rem;
  }
  .show__place {
    font-size: 2rem;
    margin: 0 auto;
    padding: 0;
  }

}
